//общее для всех инпутов, кнопок, селектов и textarea
$color-inp-back: #fff;

%form_el_base{
  box-sizing: border-box;
  font-family: $font-family-base;
  @include font-size(20, 1);
  @include rem('padding', 14, 20, 12);

  border-radius: 4px;

  background-color: $color-inp-back;
  border: 1px solid $color-gray-2;

  color: $color-text;

  @extend %link_noline;
  display: inline-block;


  &::placeholder {
    color: $color-gray-2;
  }

  &:focus{
  	border-color: $color-gray-1;

  	&::placeholder {
	    color: $color-gray-2;
	  }
  }
  
}

%inp_block{
	@include rem('margin-bottom', $vertical-rythm);

	&, input, textarea, select{
		display: inline-block;
		vertical-align: middle;
		width: 97%;
		box-sizing: border-box;
	}
}

input, textarea, select{
	@extend %form_el_base;

	&.err{
		border-color: $color-red !important;
		border-width: 2px;
	}
}

textarea{
	height: 150px;
}

select 
{
	appearance: none;

	background-image: image-url('selectArr.svg');
	background-repeat: no-repeat;
	background-position: right 10px top 50%;

	position: relative;
	overflow: hidden;
	white-space: nowrap;
	outline: none;
    @include rem('padding-right', 30);

    &::-ms-expand { display: none; } /*ie fix*/

    /*firefox fix*/
    text-indent: 0.01px;
    text-overflow: '';
    /*end of firefox fix*/
}

#{$modernizr-nosvg} select{
	background-image: image-url('selectArr.png');
}



.btn-primary, input[type='submit']{
	@extend %form_el_base;
	background-color: $color-green;
	color: #fff;
	text-align: center;
	border: 0;
	cursor: pointer;

	box-shadow: 0 3px 1px rgba($color-gray-1, .15);


	&:hover{
		color: #fff;
		background-color: saturate($color-green, 5%);
	}

	&[disabled]{
		background-color: $color-gray-2;
		cursor: default;
	}

	&.confirmed{
		background-color: $color-green;
	}
}

.inp-block{
	@extend %inp_block;
}


.msg{
	font-family: $font-family-second;
	text-align: center;

	display: block;
	@include rem('margin', $vertical-rythm/2, 0);

	&.err{
		color: $color-red;
	}

	&.ok{
		color: $color-green;
	}
}


.form-mid{
	@include rem('max-width', 550);
	@include rem('margin', $vertical-rythm*2, 'auto');

	&:last-child{
		margin-bottom: 0;
	}

	.btn-primary, input[type='submit']{
		@include rem('margin-top', $vertical-rythm);
	}
}

label.requiered{
	white-space: nowrap;

	&:after{
		content:"*";
		color: $color-brick;
		font-weight: bold;
		@include font-size(30, 1);

		display: inline-block;
		vertical-align: middle;
		vertical-align: -webkit-baseline-middle;
	}

	input{
		border-color: $color-brick;

		&::placeholder {
		    color: $color-brick;
	  	}

	  	&:focus{
	  		border-color: $color-brick-2;
	  	}
	}
}


.btn-lined{
	@extend %form_el_base;
	background-color: transparent;
	border: 1px solid $color-blue;
	color: $color-blue;
	text-align: center;
}