//общее для всех инпутов, кнопок, селектов и textarea
%form_el_base{
  box-sizing: border-box;
  font-family: $font-family-base;
  @include font-size(21, 1);

  border-radius: 4px;
  padding: 14px 40px;

  background-color: #fff;
  border: 1px solid $color-gray-2;

  color: $color-gray-0;

  @extend %link_noline;
  display: inline-block;


  &::placeholder {
    color: $color-gray-1;
  }

  &:focus{
  	border-color: $color-gray-1;

  	&::placeholder {
	    color: $color-gray-2;
	  }
  }
  
}

%inp_block{
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: $vertical-rythm / 2;
}

input, textarea, select{
	@extend %form_el_base;

	&.err{
		border-color: $color-red;
	}
}

textarea{
	height: 150px;
}

.btn-primary, input[type='submit']{
	@extend %form_el_base;
	background-color: $color-green;
	color: #fff;
	text-align: center;
	border: 0;
	cursor: pointer;

	box-shadow: 0 3px 0 #E6E6E6;


	&:hover{
		color: #fff;
		background-color: saturate($color-green, 5%);
	}

	&[disabled]{
		background-color: $color-gray-2;
		cursor: default;
	}

	&.confirmed{
		background-color: $color-green;
	}
}

.inp-block{
	@extend %inp_block;
}

.wrap__inp_block{
	display: block;
	margin-bottom: $vertical-rythm;

	.inp-block{
		margin-bottom: 5px;
	}
}

.msg{
	font: 12px/1 $font-family-second;
	padding-left: 30px;
	padding-right: 30px;

	&.err{
		color: $color-red;
	}

	&.ok{
		color: $color-green;
	}
}



.btn-lined{
	@extend %form_el_base;
	background-color: transparent;
	border: 1px solid $color-blue;
	color: $color-blue;
	text-align: center;
}