/*======== HEADER VARIABLES & MIXINS & EXTENDS =========*/

/*======== HEADER BASIC =========*/
header[role=banner]{

  position: relative;
  @extend %flex_align_v;

  background-color: #002E64;

	.header_back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    background-image: image_url('bannerBack.svg');
    background-size: 110%;
    background-position: 50% 50%;
    background-attachment: fixed;

    transition: .4s all ease-in;

    &.header_back-custom{

      background-position: 50% 0;

      &:after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#001C3C, .5);
      }
    }
 }

  &.scaled .header_back{
    background-size: 100%;
  }
 

  & > .setw{
    @include rem('padding-top', $vertical-rythm*3);
    @include rem('padding-bottom', $vertical-rythm*2);
    position: relative;
    z-index: 1;
  }

	&, a {
		color: #fff;
	}

  h1{
    color: #fff;
    text-align: center;
  }

  &:not(.screen) h1{
    margin-bottom: 0;
  }

  &.screen{

    .header_back{
      background-size: 130%;
      transition-duration: .6s;
    }

    &.scaled .header_back{
      background-size: 100%;
    }
  }
}

.notFound{
  header[role=banner] .header_back{
    background-image: image_url('bannerBack404.svg');
  }
}




#header-top{
	
	@include rem('padding', $padding-side/2, $padding-side);

	@include font-size(18, 1.2);

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  z-index: 100;

  transition: .2s all linear;

  /* align content vertically + structure: logo on left, other on right */
    @extend %flex_line;
    align-items: center;

	.b-inline > div{
		@include rem('margin-left', 35);

		&:first-child{
			margin-left: 0;
		}
	}

  &.fixed{
    @include rem('padding', 3, $padding-side);
    position: fixed;
    background-color: $color-blue-3;
  }
}





/* Menu with links (in header now) */
.nav-links{
  a{
      @extend %link_noline;
      display: block;
      @include rem('padding', 10, 0);
      border-top: 1px solid $color-blue-2;

      &:first-child{
        border-top: 0;
      }

      &.active{
        color: $color-orange;
      }
    }
}



/* CSS Dropdowns */
.dropdown{
  position: relative;

  &:focus {
    .dropdown__toggle{
      pointer-events: auto;  /*Close while clicking*/
    }

    .dropdown__content{
      opacity: 1;
      visibility: visible;
    }

  }
}

.dropdown__content {
  transition: 100ms ease-in visibility, 100ms ease-in opacity;
  visibility: hidden;
  opacity: 0;

  position: absolute;
  @include rem('top', 50);
  z-index: 10;

  &.show{ /*.show class for js, IE <= 10*/
    opacity: 1;
    visibility: visible;
  }
}

.dropdown__toggle{
  display: block;
  pointer-events: none;  /*for WebKit*/
  white-space: nowrap;
}


/* CSS select */
.dropdown-select_light{

  .dropdown__content, .dropdown__toggle{
    border-radius: 3px;
  }

  .dropdown__toggle{
    @extend %link_noline;
    border: 1px solid #fff;
    @include rem('padding', 5, 10);

    .i-arrow{
      @include font-size(10, 1);
      margin-left: 6px;
      transition: .2s all ease-in-out;
    }
  }

  &:focus .dropdown__toggle{
    background-color: $color-blue-3;
    border-color: $color-orange;
    color: $color-orange;

    .i-arrow{
      transform: scaleY(-1) scale(.75);
    }
  }

  .dropdown__content{
    background-color: $color-blue-3;
    @include rem('padding', 0, 15);
  }
  
}


/*Hamburger menu*/
.hamburger{
  cursor: pointer;
  transition: all .1s ease-in-out;

  .line{
    width: 40px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 8px auto;
    border-radius: 2px;
    transition: all .3s ease-in-out;
  }
}

.dropdown-menu{
  &:focus .hamburger{
    position: relative;
    z-index: 20;

    transform: scale(.75);
    

    .line{
      background-color: $color-orange;

      &:nth-child(2){
        opacity: 0;
      }

      &:nth-child(1){
        transform: translateY(11px) rotate(45deg);
      }

      &:nth-child(3){
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }


  .dropdown__content{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    box-sizing: border-box;
    @include rem('padding', $padding-side*2, $padding-side, $padding-side);
    background-color: $color-blue-3;
    overflow-y: auto;

    @include rem('width', 320);

    @include mobile(){
    	width: 320px;
    }
  }
}




/*link "more", used when fullscreen header mode*/
header a.header-more{
	color: $color-orange;
	font-weight: bold;
	text-transform: uppercase;

	@extend %link_noline;
	border-bottom: 2px solid $color-orange;
	padding-bottom: 4px;
}


/*canvas down the header*/
#header-canvas{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
  z-index: 10;

	height: 52px;

	background-color: $color-brick;
  box-shadow: inset #763F2B 0 4px 25px;
  overflow: hidden;

  canvas{
    margin: 0 auto;
    display: block;
  }
}


.breadcrumbs{
  @include rem('padding', 8, $padding-side);
  background-color: $color-brick;
  @include font-size(14, 1.2);

  &, a { color: $color-brick-3; }
  a, span {
    @include rem('margin', 0, 12);

    &:first-child{
      margin-left: 0;
    }
  }

  a:hover{
    color: #fff;
  }
}