@charset "UTF-8";
@import "compass";

@import "utilities/my_reset";
@import "utilities/variables";
@import "utilities/media";
@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/sprite";
@import "utilities/icons";

@import "utilities/text";
@import "utilities/plugins";

@import "blocks/animations";
@import "blocks/forms";
@import "blocks/header";
@import "blocks/footer";


/*======== MAIN SCSS VARIABLES & MIXINS & EXTENDS =========*/





/*======== BASIC STYLES =========*/

#oldiebrowser{
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 103, 74);
  font-size: 16px;

  h1{
    margin-bottom: 30px;
  }

  &, h1{
    color: #fff;
  }
}

body {
  background-color: #fff;
}

main[role="main"]{

  position: relative;
  background-color: #fff;
}


/*------- BASIC STYLES - blocks display --------*/

/* Slides on page (see clear example here -> http://codepen.io/positivecrash/pen/QGywGv) */
html, body, .screen{
  position: relative;
}

html, body{
  height: 100%;
}

.screen{
  box-sizing: border-box;
  @include rem('padding-top', $vertical-rythm*3);
  @include rem('padding-bottom', $vertical-rythm*3);
  min-height: 100%;


  /* align content vertically */
  display: flex;
  align-items: center;

}


/*inside elements in line*/
.b-inline{ @extend %flex_line; }
.setw{ @extend %width_base; }

.section{
  @include rem('margin-bottom', $vertical-rythm * 2);

  &:last-child{
    margin-bottom: 0;
  }
}



/*------- BASIC STYLES - margins --------*/
.m-t-x2 { @include rem('margin-top', $vertical-rythm*2); }



/*======== END BASIC STYLES =========*/





/*======== ELEMENTS =========*/


/*------- ELEMENTS - TABLES --------*/
table{
  margin: $vertical-rythm*2 0;

  td, th {
    color: $color-table-text;
    padding: 10px 5px 10px 20px;
    vertical-align: top;
    border-style: solid;
  }

  tfoot td, th {
    font: bold 16px/1 $font-family-second;
    text-align: left;
  }

  th {
    border-width: 0 0 1px;
    border-color: $color-table-head-border;
    color: $color-table-head-text;
    background-color: $color-table-head-back;
  }

  tfoot td{
    font-size: $font-base-size;
    border-width: 1px 0 0;
    color: $color-table-foot-text;
    border-color: $color-table-foot-border;
    background-color: $color-table-foot-back;
  }


  tbody{
    td{
      border-width: 0 0 1px;
      color: $color-table-text;
      border-color: $color-table-border;
    }

    tr:hover td {
      color: darken($color-table-text, 40%);
    }
  }

}



/*--- FANCYBOX ---*/


/*======== END OF ELEMENTS =========*/





/*======== PAGE INDEX =========*/

#scrn-2{

  .in{ 
    @extend %flex_line;
    padding-bottom: 80px;
  }

  h2{
    flex: 1;
    @include rem('padding-right', 30);
    text-align: left;

    &:after{
      content:"";
      @include rem('height', 2);
      @include rem('width', 70);
      background-color: $color-brick;
      display: block;
      @include rem('margin-top', $font-base-size);
    }
  }

  aside{
    flex: 3;
  }

  @include mobile(){
    .setw { display: block; }
    h2 { @include rem('margin-bottom', $vertical-rythm); }
  }
}

.climateInfo{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px;
  background-color: #FF8240;
  color: #fff;

  @extend %flex_line;

  .cell{
    @extend %link_noline;
    color: #fff;
    align-self: stretch;
    padding: 10px;
    text-align: left;
    flex: 5;

    &:nth-child(2){ background-color: #FF6514; }
    &:nth-child(3){ background-color: #DD5208; }
    &:nth-child(4){ background-color: #C33704; }
    &:nth-child(5){ background-color: #9B3009; }
  }
}

/*======== END OF PAGE INDEX =========*/


/*======== RESPONSIVE =========*/
@include min_mobile(){
  .q-mobile { display: none; }
  .q-min_tablet { display: block; }
}

@include mobile(){
  .q-mobile { display: block; }
  .q-min_tablet { display: none; }
}
/*======== end of RESPONSIVE =========*/