@charset "UTF-8";
@import "compass";

@import "utilities/my_reset";
@import "utilities/variables";
@import "utilities/media";
@import "utilities/extends";
@import "utilities/mixins";

@import "utilities/sprite";
@import "utilities/spriteDemo";
@import "utilities/icons";

@import "utilities/text";
@import "utilities/plugins";

@import "blocks/animations";
@import "blocks/forms";
@import "blocks/header";
@import "blocks/footer";

@import "blocks/index";
@import "blocks/demo";


/*======== MAIN SCSS VARIABLES & MIXINS & EXTENDS =========*/





/*======== BASIC STYLES =========*/

#oldiebrowser{
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 103, 74);
  font-size: 16px;

  h2{
    margin-bottom: 30px;
  }

  &, h2{
    color: #fff;
  }
}

body {
  background-color: #fff;
}

main[role="main"]{

  position: relative;
  background-color: #fff;

  & > .inside{
    @include rem('padding-top', $vertical-rythm*3);
    @include rem('padding-bottom', $vertical-rythm*4);
    @extend %floating-fix;
  }
}


/*------- BASIC STYLES - blocks display --------*/

/* Slides on page (see clear example here -> http://codepen.io/positivecrash/pen/QGywGv) */
html, body, .screen{
  position: relative;
}

html, body{
  height: 100%;
}

.screen{
  box-sizing: border-box;
  @include rem('padding-top', $vertical-rythm*3);
  @include rem('padding-bottom', $vertical-rythm*3);
  min-height: 100%;
  @extend %flex_align_v;

}


/*inside elements in line*/
.b-inline{ @extend %flex_line; align-items: center; }
.setw{ @extend %width_base; }

.section{
  @include rem('margin-bottom', $vertical-rythm * 2);

  &:last-child{
    margin-bottom: 0;
  }
}

.d-t { display: table; }
.d-t_cell { @extend %display_table_cell; }

.d-ib{ display: inline-block; }
img.d-ib{ max-width: 100%; @include rem('margin-bottom', $vertical-rythm); }

.valign-top { vertical-align: top; }
.valign-mid { vertical-align: middle; }



.cells{
  @extend %flex_line;
  align-items: top;
  align-self: stretch;
}

.grid{
  display: flex;
  flex-flow: row wrap;
  justify-content: first-start;

  .grid-i, .grid-i-2{
    display: flex;
    flex: 1 0 (100%/3);
    box-sizing: border-box;
    min-width: 1%;
    overflow: hidden;

    @include rem('padding', 15);
  }

  .grid-i{
    max-width: (100%/3);
  }

  .grid-i-2{
    flex: 2 0 (100%/2);
  }

  @include max_desktop_m(){
    .grid-i{
      flex: 1 0 (100%/2);
      max-width: (100%/2);
    }

    .grid-i-2{
      flex: 2 0 100%;
    }
  }

  @include mobile(){
    display: block;

    .grid-i, .grid-i-2{
      max-width: 100%;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

}



/*------- BASIC STYLES - margins --------*/
.m-t-x2 { @include rem('margin-top', $vertical-rythm*2); }
.m-l-5 { @include rem('margin-left', 5); }


/*======== END BASIC STYLES =========*/





/*======== ELEMENTS =========*/


/*------- ELEMENTS - TABLES --------*/
table{
  @include rem('margin', $vertical-rythm*2, 0);

  td, th {
    color: $color-table-text;
    @include rem('padding', 20, 15);
    vertical-align: top;
    border-style: solid;
  }

  tfoot td, th {
    font-weight: bold ;
    @include font-size(20, 1.2);
    font-family: $font-family-second;
    text-align: left;
  }

  th {
    border-width: 0 0 1px;
    border-color: $color-table-head-border;
    color: $color-table-head-text;
    background-color: $color-table-head-back;
  }

  tfoot td{
    font-size: $font-base-size;
    border-width: 1px 0 0;
    color: $color-table-foot-text;
    border-color: $color-table-foot-border;
    background-color: $color-table-foot-back;
  }


  tbody{
    td{
      border-width: 0 0 1px;
      color: $color-table-text;
      border-color: $color-table-border;

      &:before {
          content: attr(data-th)": ";
          font-weight: bold;
          display: none;
          @include rem('margin-right', 20);
      }
    }

    tr{
      background-color: $color-table-back-tr;

      &:hover td {
        color: darken($color-table-text, 40%);
      }

      &:nth-child(2n){
        background-color: $color-table-back-oddtr;
      }
    }
  }

  @include mobile(){
    thead{
      display: none;
    }

    td{
      display: block;
    }

    tbody td{
      &:first-child{
        background-color: $color-table-head-back;
      }
      
      &:before{
        display: inline-block;
      }
    }
  }

}



/*--- FANCYBOX ---*/


/*======== END OF ELEMENTS =========*/


#contact-form{
  padding-top: 1px;
}



/*======== NEWS =========*/
.news-grid-i {
    border: 1px solid $color-blue-4;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    @include rem('padding', 15);
    @include rem('padding-bottom', $vertical-rythm + 25);


    h2{
      @include rem('margin-bottom', $vertical-rythm);

      a{
        color: $color-text;

        &:hover{
          color: $color-lk;
        }
      }
    }

    .t-overflow{
      @include rem('max-height', 150);
    }

}

.news-grid-i_date{
  position: absolute;
  @include rem('bottom', 15); 
  @include rem('left', 15); 
}

.news-i_tumbed{
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    h2{
      @include rem('padding', 15);
      margin: 0;
      font-family: $font-family-base;
      @include font-size($font-base-size, 1.2);
      font-weight: normal;
    }

    &:hover .news-i_tumbed__tumb{
      &:after{
        background: rgba(#001C3C, .2);
      }
    }
}

.news-i_tumbed__tumb{
  display: block;
  width: 100%;
  @include rem('height', 200);
  overflow: hidden;
  position: relative;

  background-position: 50% 50%;
  background-size: cover;
  transition: .2s all ease;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#001C3C, .3);
    transition: .2s all ease;
  }
}

.paging{
  @include rem('margin', $vertical-rythm*2, 0, $vertical-rythm);
  text-align: center;
  font-family: $font-family-second;
  font-weight: bold;

  span, a, select, i{
    display: inline-block;
    vertical-align: middle;
  }

  span, a, select{
    @include rem('margin-left', 40);

    &:first-child{
      margin-left: 0;
    }
  }

  a{
    @extend %link_noline;

    &.na{
      color: $color-gray-2;
      pointer-events: none;
    }
  }

  .paging-text{
    &:first-child{
      @include rem('margin-right', 15);
    }

     &:last-child{
      @include rem('margin-left', 15);
    }
  }

  @include mobile(){
      .paging-text{
        display: none;
      }

      i{
        font-size: 32px;
      }
  }
  
}



#news-item_abstract{
  @include rem('margin-bottom', $vertical-rythm*3);
  font-weight: bold;

  &:after{
    @include rem('margin-top', 10);
  }
}

.widget-post{
  @extend %floating-fix;
  border: 1px solid $color-blue-4;
  position: relative;
  @include rem('margin', $vertical-rythm, 0);

  .news-i_tumbed__tumb{
    float: left;
    @include rem('width', 300);
    @include rem('height', 152);
  }

  .widget-post_content{
    @include rem('margin-left', 320);
    @include rem('padding', 20, 20, 20, 0);
  }

  .news-grid-i_date{
    @include rem('left', 320);
  }

  @include mobile(){
    .news-i_tumbed__tumb{
      float: none;
      display: block;
      width: 100%;
    }

    .widget-post_content{
      margin-left: 0;
      @include rem('padding-left', 20);
    }

    .news-grid-i_date{
      position: static;
      @include rem('margin-top', $vertical-rythm);
    }
  }
}

.tags{
  @include rem('margin', $vertical-rythm*2, 0);

  a{
    display: inline-block;
    @include rem('margin', 0, 30, 15, 0);
    @include rem('padding', 8, 20);
    @extend %link_noline;
    color: #93A5D6;
    border: 1px solid #BECFFC;
    border-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
    @include font-size(18, 1.2);

    &:last-child{
      margin-right: 0;
    }

    &:hover{
      color: darken(#93A5D6, 10%);
      border-color: darken(#BECFFC, 10%);
    }
  }
}
/*======== end of NEWS =========*/


/*======== DOCS and PRESS =========*/
.widget-pannel{
  @include rem('margin', $vertical-rythm*2, 0);

  &:last-child{
    margin-bottom: 0;
  }
}

.widget{
  display: block;
  border: 1px solid $color-blue-4;
  color: $color-text;
  @extend %link_noline;
  @include rem('padding', 20);
  line-height: 1.2;

  @include rem('margin-bottom', $vertical-rythm);

  &:last-child{
    margin-bottom: 0;
  }

  .t-small{
    color: $color-lk;
    display: block;
    @include rem('margin-top', 15);
  }
}

.widget-doc{

  $doc: map-get($icons, doc);
  padding-left: map-get($doc, width) + 40;
  position: relative;
  min-height: map-get($doc, height);

  &:before{
    content:"";
    @include get-sprite(doc);
    position: absolute;
    @include rem('top', 20);
    @include rem('left', 20);
  }
}

.label-pageselect{
  font-weight: bold;
  font-family: $font-family-second;

  select, label{
    display: inline-block;
  }

  label{
    @include rem('margin-right', 20);
  }
}
/*======== end of DOCS and PRESS =========*/


/*======== PAGE WITH BACKGROUND =========*/
.page-back{
  background-image: image_url('bannerBack.svg');
  // background-size: 110%;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;

  &:after{
    content:"";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 20%;

    @include background-image(linear-gradient(top, $color-blue-2, rgba($color-blue-2, 0) ));
    background-image: -ms-linear-gradient(top, $color-blue-2, rgba($color-blue-2, 0) );
  }

  main[role="main"]{
    background-color: transparent;
    @include rem('padding-bottom', $vertical-rythm*2);
    z-index: 2;
  }

  .header_back{
    display: none;
  }

  header[role=banner]{
    background-color: transparent;

    & > .setw{
      @include rem('padding-top', $vertical-rythm*3.5);
      @include rem('padding-bottom', $vertical-rythm*2.5);
    }
  }
}
/*======== end of PAGE WITH BACKGROUND =========*/






/*======== RESPONSIVE =========*/
@include min_mobile(){
  .q-mobile { display: none; }
  .q-min_tablet { display: block; }
}

@include mobile(){
  .q-mobile { display: block; }
  .q-min_tablet { display: none; }
}

@include max_desktop_s(){
  .q-max_d_s { display: block; }
  .q-min_d_s { display: none; }
}

@include min_desktop_s(){
  .q-max_d_s { display: none; }
  .q-min_d_s { display: block; }
}

@include max_desktop_m(){
  .q-max_d_m { display: block; }
  .q-min_d_m { display: none; }
}

@include min_desktop_m(){
  .q-min_d_m { display: block; }
  .q-max_d_m { display: none; }
}
/*======== end of RESPONSIVE =========*/


/*======== FOR OLD BROWSERS =========*/

/* for browser, when there is no flexbox support like IE 9*/
#{$modernizr-noflexbox}#{$modernizr-noflexboxtweener}{
  .dropdown{
    display: inline-block; 
    vertical-align: middle;
  }

  #header-top{
    @extend %clearfix;

    .l-noline { float: left; }
    .b-inline { float: right; }
  }

  .dropdown__toggle{
    position: relative; /*for IE <= 10*/
    z-index: 11; /*for IE <= 10*/
  }

  .cells{
    @extend %floating-fix;

    .cell{
      float: left;
    }
  }

  #scrn-3 .cell{
    margin-right: 3%;
  }
}