#demo-slider{
	margin: 0 auto;

	& > .d-t_cell{
		vertical-align: top;

		.slider-arrow{
			margin-top: 240px;
		}
	}
}

.demo-slider_border, .demo-mes{
	box-sizing: border-box;
	width: 720px;

	@media screen and (max-width: 900px) {
		width: 600px;
	}

	@media screen and (max-width: 720px) {
		width: 400px;
	}

	@media screen and (max-width: 520px) {
		width: auto;
	}
}

.demo-mes{

	color: #fff;
	@include rem('margin-bottom', $vertical-rythm);

	.d-t_cell{
		padding: 20px;

		background-color: darken($color-orange, 8%);

		&:first-child{
			font-family: $font-family-second;
			text-transform: uppercase;
			background-color: $color-orange-2;
			font-weight: bold;

			text-shadow: 1px 1px 0 darken($color-orange-2, 10%);
		}

		&:last-child{
			text-shadow: 1px 1px 0 darken($color-orange, 15%);
		}
	}

	@include mobile_s(){
		&, .d-t_cell{
			display: block;
		}
	}

}



.demo-slider_border{
	background-color: #fff;
	padding: 40px;
	border: 2px solid $color-orange-2;

	@media screen and (max-width: 900px) {
		padding: 20px;
	}

	@media screen and (max-width: 720px) {
		padding: 20px;
	}
}



.slider-arrow{
	@extend %link_noline;
	display: inline-block;
	box-sizing: border-box;

	display: block;
	width: 0; 
	height: 0;

	transition: .2s ease-in all;

	@media screen and (max-width: 520px){
		display: none;
	}
}

#demo-slider_arr_l{

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-right: 38px solid $color-orange-2;
    margin-right: 6px;

    &:hover{
    	border-right-color: darken($color-orange, 8%);
    }

}

#demo-slider_arr_r{

	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 38px solid $color-orange-2;

    margin-left: 6px;

    &:hover{
    	border-left-color: darken($color-orange, 8%);
    }
}






.ipci-calc{

	position: relative;

	&, input, textarea, select, .btn-lined { font-size: 16px; }

	& > div{
		overflow: hidden;
	}

}


.ipci-calc-left{
	float: left;
	width: 40px;
	
	& > *{
		display: block;
		margin: 0 0 2px;
	}

	.sprite-demo-footprints{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 6px;
	}

	.ipci-calc-left_item{
		background-color: $color-brick;
		color: #fff;
		text-align: center;

		font: bold 14px/1 $font-family-second;

		padding-top: 20px;
		padding-bottom: 20px;

		sub{
			font-size: 10px;
		}

		&.active{
			background-color: $color-blue;
		}

	}

	div.ipci-calc-left_item{
		padding-top: 4px;
		padding-bottom: 4px;
	}

	a.ipci-calc-left_item{
		@extend %link_noline;

		span{
			margin-top: 4px;
			display: block;
		}
	}


	@include mobile_s(){
		float: none;
		width: 100%;

		& > *{
			display: inline-block;
			vertical-align: middle;
			margin-right: 4px;
			height: 46px;
			padding: 20px 8px;
		}

		.sprite-demo-footprints{
			padding-left: 0;
		}

		.ipci-calc-left_item:nth-child(2){
			display: none;
		}
	}
}

.ipci-calc-right{
	overflow: hidden;
	padding-left: 26px;
	padding-top: 36px;

	@include mobile_s(){
		padding-left: 0;
	}
}

.ipci-calc-right_steps{
	height:26px;
	border-bottom: 2px solid $color-blue;
	margin-bottom: 26px;


	a{
		display: inline-block;
		margin-left: 26px;

		&:first-child{
			margin-left: 0;
		}


		@extend %link_noline;
		font: bold 14px/1 $font-family-second;

		color: $color-gray;
		&.active { color: $color-blue; }

		.mobile { display: none; }

		@media screen and (max-width: 920px) {
			.wide { display: none; }
			.mobile { display: block; }
		}
	}
}

.ipci-calc-right_form{

	.d-t{
		width: 100%;
		margin-top: 20px;

		&:first-child{
			margin-top: 0;
		}

		.d-t_cell{
			padding-left: 8px;

			&:first-child{
				width: 224px;
				padding-left: 0;
				// font-weight: bold;
			}

			&:nth-child(2){
				width: 288px;
			}
		}

		.inp-block{
			margin-bottom: 0;
		}

		@media screen and (max-width: 860px) {

			.d-t_cell{
				display: block;
				padding: 0;
				margin-bottom: 5px;

				width: 100% !important;
			}

			.t-right{
				text-align: left;
			}
		}
	}
}

.ipci-calc-add-i{
	width: 95%;
}

.ipci-calc-btn{
	@include rem('margin-top', $vertical-rythm);
}



#ipci-cals-cert{
	background-color: #F8FAFF;
	border: 6px solid #fff;
	outline: 2px solid #F8FAFF;
	margin: 2px;
	padding: 15px;

	h4{
		text-align: center;
		margin-bottom: 0;
	}
}

.ipci-calc-cert_info{
	text-align: center;
	border-width: 1px 0;
	border-style: solid;
	border-color: #818dab;
	padding: 20px 0;
	color: #818dab;
	@include rem('margin', $vertical-rythm, 0);

	h5{
		margin-bottom: 8px;
	}
}


.ipci-calc-table_info{
	.d-t_cell{
		vertical-align: top;
	}

	p {
		@include rem('margin-bottom', $vertical-rythm/2);
	}

	@include max_tablet(){
		p {
			@include rem('margin-bottom', 4);
		}

		.d-t_cell{
			@include rem('margin-top', $vertical-rythm/2);

			&:first-child{
				margin-top: 0;
			}
		}
	}
}




.ipci-calc{

	user-select: none;  


	input, select { pointer-events: none; }

	.demo-msg{
		transition: .2s ease-in opacity;
		opacity: 0;
		visibility: hidden;

		position: absolute;

		top: 50%;
		left: 50%;

		box-sizing: border-box;
		width: 250px;
		height: 130px;
		padding: 15px;
		margin-top: -250px;
		margin-left: -130px;

		background-color: $color-orange-2;
		text-shadow: 1px 1px 0 darken($color-orange-2, 10%);
		color: #fff;

	}

	&.clicked{
		.demo-body {
			opacity: .5;
		}

		.demo-msg{
			opacity: 1;
			visibility: visible;
		}
	}




	&[data-slide="2"]{
		.ipci-calc-right_form{

			& > .d-t{

				.d-t_cell:first-child{
					width: 124px;
					padding-left: 0;
				}
			}

			.d-t_cell p{
				@include rem('margin-bottom', $vertical-rythm/2);
			}
		}
	}


	&[data-slide="4"] .d-t .d-t_cell:first-child{
		width: auto;
	}
}


.demo-en{
	.demo-msg{
		height: 100px;
		margin-left: -100px;
	}
}