.team-row.row{
	border-top: 2px solid $color-brick;
	margin-right: 0;
	margin-left: 0;

	h3{
		color: $color-brick;
		margin-bottom: 4px;
	}

	.t-small{
		@include rem('margin-bottom', $vertical-rythm * 1.5);
		color: $color-gray-2;
	}

	.col-md-4{
		padding-left: 0;
	}

	.col-md-8{
		padding-right: 0;
	}
}