extends extends/layout.jade
include includes/mixins.jade

block head
	- var pageTitle = 'О программе'

block header
	- var text = 'О программе'


block content
	.breadcrumbs
		a(href="#") Главная
		| /
		span О программе

	main(role="main")
		+OldBrowserMsg()

		.inside.setw
			p ДАО «Программа интеграции климатических инициатив» (DAO IPCI) разработана для хранения данных об углеродных единицах и операций с ними на основе Умных контрактов и технологии Блокчейн.
			p Программа, основанная на действующих климатических инициативах бизнеса и регионов, позволяет им воспользоваться общими инвестиционными инструментами, базовым активом которых являются результаты целенаправленной деятельности по предотвращению изменения климата, прежде всего, проектные сокращения выбросов парниковых газов.
			
			h2 Предпосылки и мотивы ведения Углеродного реестра на основе Программы
			ul
				li Практическое внедрение модели «зеленой экономики», низкоуглеродного развития на основе прямого и эксплицитного включения экологических стоимостей в деловой оборот, в том числе, в рамках ЕАЭС
				li Становление нового международного климатического режима на основе Парижского соглашения
				li Предупреждение обязательного ограничения выбросов парниковых газов со стороны государства
				li Дальнейшее развитие и ужесточение внешнего регулирования и интеграции внешних программ и систем управления выбросами


			h2 Цель и средства реализации Программы
			p Целью формирования и развития Программы является интеграция климатических инициатив в форме распределенной сети участников деятельности по снижению воздействия на климат, основанной на универсальных принципах, правилах и платформе учета результатов достижения абсолютных целей, соблюдения определенных количественных обязательств по ограничению и сокращению выбросов парниковых газов.
			p Основным средством реализации Программы является Углеродный реестр зачетных сокращений и единиц соблюдения определенных количественных обязательств по ограничению и сокращению выбросов, увеличению абсорбции поглотителями парниковых газов, соответствующих целям и требованиям Программы.

			.wp-caption
				img(alt="", src="assets/i/tmp/emission_scheme.jpg")
				p.wp-caption-text Схема выпуска единиц в распределенном реестре DAO IPCI

			h2 Основные требования и критерии Программы и Углеродного реестра к углеродным единицам 
			p
				i (включая зачетные сокращения и единицы соблюдения определенных количественных обязательств по ограничению и сокращению выбросов, увеличению абсорбции поглотителями парниковых газов)

			p Программа обеспечивает абсолютное итоговое сокращение парниковой эмиссии или увеличение абсорбции поглотителями в целом и совместными действиями ее участников в соответствии с требованиями Рамочной Конвенции ООН по изменению климата, международных документов, принятых во исполнение Конвенции, в том числе, разрабатываемым требованиям Парижского соглашения к международным конвертируемым (передаваемым) результатам снижения воздействия на климат.
			p Программа ставит целью интеграцию усилий по снижению воздействия на климат, в первую очередь, в ЕАЭС, в том числе проектов, систем и программ, которые основаны на абсолютных целях и определенных количественных обязательствах по ограничению и сокращению выбросов парниковых газов.
			p Программа предусматривает учет в Углеродном реестре результатов действий по снижению воздействия на климат (углеродных единиц), соответствующих требованиям в части принципов устойчивого развития, социально-экологической целостности (последовательности), транспарентности, точности, полноте, сопоставимости и согласованности, а также обеспечивает недопущение двойного учета, ответственность эмитента углеродных единиц.

			h3 Углеродным реестром принимаются к регистрации и обороту результаты проектов, которые соответствуют следующим основным требованиям:
			ol
				li Относятся к определенному множеству действующих источников и технологических установок
				li Предусматривают ограничение и сокращение выбросов парниковых газов, относительно фактических выбросов данного множества действующих источников и технологических установок
				li Соотносятся с определенным учетным периодом, начиная с 2013 года
				li Опираются на систему обязательств по мониторингу, отчётности и независимого подтверждения и заверения данных об объемах выбросов и сокращений выбросов
				li Не обусловлены обязательными нормативно-правовыми требованиями или обязательствами, принятыми во исполнение иных программ и механизмов ограничения и сокращения выбросов парниковых газов, отличных от Программы интеграции климатически инициатив
				li Содержат существенные меры обеспечения обязательств
				li В соответствии с требованиями Программы запуск новых источников и технологических установок обусловлен полным замещением их выбросов абсолютными сокращениями из действующих источников выбросов парниковых газов.

			h3  Учетными единицами Углеродного реестра (углеродными единицами) являются:
			ul
				li зачетные компенсирующие сокращения – фактические и абсолютные, независимо подтвержденные, количественно измеримые, необратимые или долгосрочные, обеспеченные, дополнительные или целенаправленные, не обусловленные обязательными нормативно-правовыми требованиями единицы сокращения антропогенных выбросов парниковых газов и увеличения их абсорбции поглотителями
				li единицы соблюдения определенных количественных обязательств, соответствующие основным требованиям Программы.

			p Расчет и независимая проверка исходных условий и данных, результатов, количества углеродных единиц осуществляется на основе существующих и разрабатываемых методов МГЭИК, руководящих указаний, принимаемых во исполнение РКИК ООН, основанных на них правилах, стандартах и методологиях, включая серию ГОСТ Р ИСО 14064 (ISO 14064), «Золотого стандарта» (“Gold Standard”), «Верифицированного углеродного стандарта» (“Verified Carbon Standard”), при условии расчета достигнутых результатов в сравнении с инерционным сценарием выбросов, абсорбции поглотителями парниковых газов определенным множеством действующих источников и технологических установок.
			p При этом Углеродный реестр принимает к регистрации и учету проекты и углеродные единицы, которые зафиксированы в других системах учета, только при условии их исключения из этих систем учета.  В равной степени, при передаче углеродных единиц в другую систему учета, Углеродный реестр снимает с учета такие углеродные единицы.
			p Программа также предусматривает регистрацию климатических обязательств на платформе Зоны климатических действий негосударственных субъектов в соответствии с рекомендациями Решения 21–й Конференции Сторон РКИК ООН «О принятии Парижского соглашения» (FCCC/CP/2015/10/Add.1 1/CP.21 Adoption of the Paris Agreement, 117, 134).

			h2 Схема функционирования углеродного рынка в рамках программы
			.wp-caption.alignleft(style="max-width:500px")
				img(alt="", src="assets/i/tmp/dao_sceme_2.png")
			p
				b Оператор:
			ul
				li утверждает создание нового реестра и лимит на выпуск единиц;
				li утверждает адрес Эмитента для доступа на площадку транзакций (рынок).

			p
				b Аудитор 
				| создает реестр для выпуска указанного множества единиц Эмитентом с лимитом выпуска в пределах заверенного общего количества единиц результатов деятельности по предотвращению изменения климата.

			p
				b Эмитент 
				| осуществляет выпуск единиц с одобрения Аудитора в пределах установленного лимита.