extends extends/layout.jade


block html
	- var pageTitle = 'О программе'

block header
	- var text = 'О программе'


block content
	.breadcrumbs
		a(href="#") Главная
		| /
		span О программе

	main(role="main")
		.inside.setw
			p 
				a(href="#") DAO IPCI 
				| является децентрализованной автономной организацией, которая поддерживает и развивает независимую Платформу интеграции климатических инициатив, цифровую экосистему хранения отчетных данных о регистрации и транзакциях углеродных единиц соблюдения, зачетных результатах деятельности и количественных обязательствах по снижению воздействия на климат, других экологических активах, правах и обязательствах  на основе «умных контрактов» и технологии «блокчейн».

			p DAO IPCI – это аутентичный частный некоммерческий проект, независимый от корпоративных интересов правительственных структур, бизнеса, неправительственных организаций.

			blockquote
				p
					| 24 мая 2016 года фонд «Русский углерод» запустил Программу интеграции климатических инициатив (Программа) и основанный на Программе 
					a(href="#") Углеродный реестр 
					| для регистрации проектов, программ количественных обязательств по предотвращению изменения климата. «В условиях крайне медленного создания системы углеродного госрегулирования, идущего на фоне сопротивления части промышленников, авторы идеи надеются сформировать пилотную систему, в рамках которой российские компании смогут продавать и покупать сокращения выбросов, в том числе за рубежом.

				p: a(href="#"): em («Коммерсант»)

			p Распределенная Программа, основанная на отдельных действующих климатических инициативах бизнеса и регионов, позволяет им воспользоваться общими инвестиционными инструментами, базовым активом которых являются результаты целенаправленной деятельности по предотвращению изменения климата, прежде всего, зачетные сокращения выбросов парниковых газов.

			p Программа стала исходной, первичной климатической программой, реализуемой на основе DAO IPCI.