h2 Carbon Dioxide
	.t-small.t-gray Data source: 
		a(href="http://climate.nasa.gov", target="_blank") NASA
.b-climateData.cells
	.cell
		h3 Direct measurements: 2005-2016
		img.d-ib(alt="Direct measurements of Carbon Dioxide 2005-2016", src="assets/i/climateinfo/CO2.png")
		p Carbon dioxide (CO2) is an important heat-trapping (greenhouse) gas, which is released through human activities such as deforestation and burning fossil fuels, as well as natural processes such as respiration and volcanic eruptions. The chart above shows CO2 levels in recent years, with average seasonal cycle removed.

	.cell
		h3 Time series: 2002-2014
		img.d-ib(alt="Time series of Carbon Dioxide 2002-2014", src="assets/i/climateinfo/NASA_CO2.gif")
		p The time series shows global distribution and variation of the concentration of mid-tropospheric carbon dioxide in parts per million (ppm). The overall color of the map shifts toward the red with advancing time due to the annual increase of CO2.