h2 Global Temperature
	.t-small.t-gray Data source: 
		a(href="http://climate.nasa.gov", target="_blank") NASA
.b-climateData.cells
	.cell
		h3 Global land-ocean temperature index 1880-2015
		img.d-ib(alt="Global land-ocean temperature index 1880-2015", src="assets/i/climateinfo/GlobalTemp.png")
		p This graph illustrates the change in global surface temperature relative to 1951-1980 average temperatures. The 10 warmest years in the 134-year record all have occurred since 2000, with the exception of 1998. The year 2015 ranks as the warmest on record. (Source: NASA/GISS). This research is broadly consistent with similar constructions prepared by the Climatic Research Unit and the National Oceanic and Atmospheric Administration.

	.cell
		h3 Time series: 1885-2015
		img.d-ib(alt="Time series of Global Temperature 1885-2015", src="assets/i/climateinfo/NASA_GT.gif")
		p The time series above shows the five-year average variation of global surface temperatures from 1885 to 2015. Dark blue indicates areas cooler than average. Dark red indicates areas warmer than average.