h2 Land Ice
	.t-small.t-gray Data source: 
			a(href="http://climate.nasa.gov", target="_blank") NASA
.b-climateData.cells
	.cell
		h3 Antarctica mass variation since 2002
		img.d-ib(alt="Antarctica mass variation since 2002", src="assets/i/climateinfo/NASA_AI.png")
		p Data from NASA's GRACE satellites show that the land ice sheets in both Antarctica and Greenland are losing mass. The continent of Antarctica (left chart) has been losing about 134 gigatonnes of ice per year since 2002, while the Greenland ice sheet (right) has been losing an estimated 287 gigatonnes per year. (Source: GRACE satellite data)

	.cell
		h3 Greenland mass variation since 2002
		img.d-ib(alt="Antarctica mass variation since 2002", src="assets/i/climateinfo/NASA_GI.png")