extends extends/layout.jade


block html
	- var pageTitle = 'Контакты'

block header
	- var text = 'Контакты'


block content
	.breadcrumbs
		a(href="#") Главная
		| /
		span Контакты

	main(role="main")
		.inside.setw
			h2.t-center Бесплатная консультация специалиста
			p Если у вас возникли какие-либо вопросы по использованию ДАО «Программа интеграции климатических инициатив» или предложения к сотрудничеству, закажите консультацию, заполнив данные в форме ниже.

			#contact-form
				form.form-mid
					label.inp-block.requiered
						input.err(type="text", placeholder="Ваше имя и/или название организации", requiered)
					label.inp-block.requiered
						input(type="email", placeholder="Контактный email", requiered)
					label.inp-block.requiered
						input(type="text", placeholder="Контактный телефон", requiered)
					label.inp-block
						input(type="text", placeholder="Удобное для связи время (по МСК, UTC+3)")
					label.inp-block
						textarea(placeholder="Комментарий (здесь, например, можно кратко описать свой вопрос)")

					.t-center
						input(type="submit", value="Отправить запрос", disabled)

					.msg.ok Ваш запрос успешно отправлен
					.msg.err Заполните, пожалуйста, все обязательные поля