extends extends/layout.jade
include includes/mixins.jade

//- block html
//- 	- var pagetype = 'inside'

block header
	- var type = 'screen'
	- var canvas = 'true'
	- var text = 'Используйте Blockchain технологию для безопасной работы с экологическими активами и обязательствами, углеродными реестрам'
	- var more = '#scrn-2'

block content
	#scrn-2.screen
		.in.setw
			h2.underlined Углеродные рынки сейчас и в ближней перспективе
			aside
				p Потенциально самый большой глобальный товарный рынок (зрелый рынок до $10 трлн.)
				p 17 рыночных систем в 54 юрисдикциях, до 20% глобальной эмиссии будет покрыто рынками выбросов в 2017 г.
				p Более 40 различных углеродных единиц, представляющих, по сути, универсальный базовый актив – право на выброс 1 тонны СО2-экв
				p Десятки разрозненных  платформ: реестров, систем слежения, бирж, платформ аукционирования

		.climateInfo
			a(href="#").cell
				span.i-arrowBig.up
				.climateInfo-content
					p Выброс CO2
					p
						span.t-big 404.93
						| ppm
			a(href="#").cell
				span.i-arrowBig.up
				.climateInfo-content
					p Глобальная температура
					p
						span.t-big 1.06
						| °C с 1880 года
			a(href="#").cell
				span.i-arrowBig
				.climateInfo-content
					p Арктический лед
					p
						span.t-big 13.3
						| % / десятилетие
			a(href="#").cell
				span.i-arrowBig
				.climateInfo-content
					p Ледяная поверхность
					p
						span.t-big 281.0
						| Гт / год
			a(href="#").cell
				span.i-arrowBig.up
				.climateInfo-content
					p Уровень моря
					p
						span.t-big 3.4
						| мм / год


	#scrn-3.screen
		.setw
			h2 Системы учета экологических, углеродных активов и обязательств

			.cells
				.cell
					.tag Действуют и множатся
					.t-center
						.sprite-systemOne
					.title Частные добровольные программы
					p Разрозненные программы со взаимно несовместимыми требованиями и низкой ликвидностью инструментов

				.cell
					.tag Действуют и множатся
					.t-center
						.sprite-systemTwo
					.title Обязательные системы
					p Обособленные системы, несопряженные друг с другом, с жестким административным регулированием и высокими транзакционными издержками

				.cell
					.tag Новый подход
					.t-center
						.sprite-systemThree
					.title Распределенная сеть на Blockchain
					p Решает проблемы мошенничества, двойного зачета активов, при участии множества игроков на рынке. Возможность неограниченного взаимодействия и интеграции систем и конвертации инструментов по индивидуальному выбору участников. Низкие транзакционные издержки инвестиционных операций


	#scrn-4.screen
		.setw
			h2.underlined Мы разработали Децентрализованную платформу на основе Blockchain для работы с экологическими активами и обязательствами, углеродными реестрами
			.d-t
				.text
					p DAO IPCI организует прямую работу всех пользователей с экологическими активами и обязательствами, углеродными реестрами, хранящимися в Blockchain.  Данная технология позволяет обеспечить прозрачность сделок для всех участников рынка и синхронизировать работу различных углеродных реестров по всему миру.

				figure
					.q-min_d_s
						#daoscheme
							#e1 DAO
							#e2 реестры
							#e3.parts Эмитент
							#e4.parts Оператор
							#e5.parts Пользователь
							#e6.parts Аудитор
							#e7.parts Участник программ
							img(alt="", src="assets/i/daoscheme.svg")
					.q-max_d_s
						img(alt="", src="assets/i/daoschemeStatic.png")