extends extends/layout.jade
include includes/mixins.jade

//- block html
//- 	- var pagetype = 'inside'

block header
	- var type = 'screen'
	- var canvas = 'true'
	- var text = 'Используйте Blockchain технологию для безопасной работы с экологическими активами и обязательствами, углеродными рынками'
	- var more = '#scrn-2'


block content
	#scrn-2.screen
		.in.setw
			h2.underlined Углеродные рынки сейчас и в ближней перспективе
			aside
				p Потенциально самый большой глобальный товарный рынок (зрелый рынок до $10 трлн.)
				p 17 рыночных систем в 54 юрисдикциях, до 20% глобальной эмиссии будет покрыто рынками выбросов в 2017 г.
				p Более 40 различных углеродных единиц, представляющих, по сути, универсальный базовый актив – право на выброс 1 тонны СО2-экв
				p Десятки разрозненных  платформ: реестров, систем слежения, бирж, платформ аукционирования

		.climateInfo
			a(href="#fb-climate1").cell.fancybox
				span.i-arrowBig.up
				.climateInfo-content
					p Выброс CO2
					p
						span.t-big 404.93
						| ppm
			a(href="#fb-climate2").cell.fancybox
				span.i-arrowBig.up
				.climateInfo-content
					p Глобальная температура
					p
						span.t-big 1.06
						| °C с 1880 года
			a(href="#fb-climate3").cell.fancybox
				span.i-arrowBig
				.climateInfo-content
					p Арктический лед
					p
						span.t-big 13.3
						| % / десятилетие
			a(href="#fb-climate4").cell.fancybox
				span.i-arrowBig
				.climateInfo-content
					p Ледяная поверхность
					p
						span.t-big 281.0
						| Гт / год
			a(href="#fb-climate5").cell.fancybox
				span.i-arrowBig.up
				.climateInfo-content
					p Уровень моря
					p
						span.t-big 3.4
						| мм / год

		#fb-climate1.fbx-w
			h2 Выброс углекислого газа
			.b-climateData.cells
				.cell
					h3
						| Прямые измерения CO
						sub 2 
						| 2005-2016
					img.d-ib(alt="График измерений выброса углекилого газа 2005-2016", src="assets/i/climateinfo/CO2.png")
					p Carbon dioxide (CO2) is an important heat-trapping (greenhouse) gas, which is released through human activities such as deforestation and burning fossil fuels, as well as natural processes such as respiration and volcanic eruptions. The chart above shows CO2 levels in recent years, with average seasonal cycle removed.

				.cell
					h3
						| Изменения CO
						sub 2 
						| на карте 2002-2014
					img.d-ib(alt="Измерения выброса углекилого газа на карте 2002-2014", src="assets/i/climateinfo/NASA_CO2.gif")
					p The time series shows global distribution and variation of the concentration of mid-tropospheric carbon dioxide in parts per million (ppm). The overall color of the map shifts toward the red with advancing time due to the annual increase of CO2.

		#fb-climate2.fbx-w
			h2 Глобальная температура
			.b-climateData.cells
				.cell
					h3 Уровень температуры Мирового океана 1880-2015
					img.d-ib(alt="График измерения температуры Мирового океана 1880-2015", src="assets/i/climateinfo/GlobalTemp.png")
					p This graph illustrates the change in global surface temperature relative to 1951-1980 average temperatures. The 10 warmest years in the 134-year record all have occurred since 2000, with the exception of 1998. The year 2015 ranks as the warmest on record. (Source: NASA/GISS). This research is broadly consistent with similar constructions prepared by the Climatic Research Unit and the National Oceanic and Atmospheric Administration.

				.cell
					h3 Изменения на карте 1885-2015
					img.d-ib(alt="Изменения на карте 1885-2015", src="assets/i/climateinfo/NASA_GT.gif")
					p The time series above shows the five-year average variation of global surface temperatures from 1885 to 2015. Dark blue indicates areas cooler than average. Dark red indicates areas warmer than average.


		#fb-climate3.fbx-w
			h2 Арктический лед
			.b-climateData.cells
				.cell
					h3 Средний уровень по сентябрю 1979-2016
					img.d-ib(alt="График cреднего уровня арктического льдя по сентябрю 1979-2016", src="assets/i/climateinfo/NASA_AS.png")
					p Arctic sea ice reaches its minimum each September. September Arctic sea ice is now declining at a rate of 13.3 percent per decade, relative to the 1981 to 2010 average. The graph above shows the average monthly Arctic sea ice extent in September since 1979, derived from satellite observations. The 2012 extent is the lowest in the satellite record.

				.cell
					h3 Изменения на карте 1979-2015
					img.d-ib(alt="Изменения на карте 1979-2015", src="assets/i/climateinfo/NASA_AS.gif")
					p The time series above shows the annual Arctic sea ice minimum since 1979, based on satellite observations. The 2012 sea ice extent is the lowest in the satellite record.


		#fb-climate4.fbx-w
			h2 Ледяная поверхность
			.b-climateData.cells
				.cell
					h3 Изменение морского льда в Антарктике с 2002
					img.d-ib(alt="График изменения морского льда в Антарктике с 2002", src="assets/i/climateinfo/NASA_AI.png")
					p Data from NASA's GRACE satellites show that the land ice sheets in both Antarctica and Greenland are losing mass. The continent of Antarctica (left chart) has been losing about 134 gigatonnes of ice per year since 2002, while the Greenland ice sheet (right) has been losing an estimated 287 gigatonnes per year. (Source: GRACE satellite data)

				.cell
					h3 Изменение морского льда в Гренландии с 2002
					img.d-ib(alt="Изменения на карте 1884-2015", src="assets/i/climateinfo/NASA_GI.png")

		#fb-climate5.fbx-w
			h2 Уровень моря
			.b-climateData.cells
				.cell
					h3 Данные с Земли 1870-2000
					img.d-ib(alt="Данные с Земли 1870-2000", src="assets/i/climateinfo/seaLevel_left.gif")
					p Sea level rise is caused primarily by two factors related to global warming: the added water from melting land ice and the expansion of sea water as it warms. The above chart, derived from coastal tide gauge data, shows how much sea level changed from about 1870 to 2000.

				.cell
					h3 Данные со спутника 1993-2016
					img.d-ib(alt="Данные со спутника 1993-2016", src="assets/i/climateinfo/seaLevel_sat.png")
					p This chart tracks the change in sea level since 1993 as observed by satellites.


	#scrn-3.screen
		.setw
			h2 Системы учета экологических, углеродных активов и обязательств

			.cells
				.cell
					.tag Действуют и множатся
					.t-center
						.sprite-systemOne
					.title Частные добровольные программы
					p Разрозненные программы со взаимно несовместимыми требованиями и низкой ликвидностью инструментов

				.cell
					.tag Действуют и множатся
					.t-center
						.sprite-systemTwo
					.title Обязательные системы
					p Обособленные системы, несопряженные друг с другом, с жестким административным регулированием и высокими транзакционными издержками

				.cell
					.tag Новый подход
					.t-center
						.sprite-systemThree
					.title Распределенная сеть на Blockchain
					p Решает проблемы мошенничества, двойного зачета активов, при участии множества игроков на рынке. Возможность неограниченного взаимодействия и интеграции систем и конвертации инструментов по индивидуальному выбору участников. Низкие транзакционные издержки инвестиционных операций


	#scrn-4.screen
		.setw
			h2.underlined Мы разработали Децентрализованную платформу на основе Blockchain для работы с экологическими активами и обязательствами, углеродными реестрами
			.d-t
				.text
					p DAO IPCI организует прямую работу всех пользователей с экологическими активами и обязательствами, углеродными реестрами, хранящимися в Blockchain.  Данная технология позволяет обеспечить прозрачность сделок для всех участников рынка и синхронизировать работу различных углеродных реестров по всему миру.

				figure
					.q-min_d_m
						#daoscheme
							#e1 DAO
							#e2 реестры
							#e3.parts Эмитент
							#e4.parts Оператор
							#e5.parts Пользователь
							#e6.parts Аудитор
							#e7.parts Участник программ

							#daoscheme_dots
								#e8
								#e9
								#e10
								#e11
								#e12
								#e13
								#e14
								#e15
								#e16
							img(alt="", src="assets/i/daoscheme.svg")
					.q-max_d_m
						img(alt="", src="assets/i/daoschemeStatic.png")


	#scrn-5.screen
		.setw
			h2 Функции Оператора Программы
			.d-t
				.text
					p На базе платформы создан интерфейс, в котором Оператор осуществляет свои функции:
					ul
						li утверждает создание нового реестра и выпуск заверенных Аудитором единиц в пределахлимита;
						li утверждает Эмитента для доступа на площадку транзакций (рынок);
						li утверждает перечень аккредитованных Аудиторов.
					p Все операции прозрачны и защищены, осуществляются посредством смарт-контрактов.
				aside
					.sprite-daoOperator
					.t-center
						a.btn-primary(href="#", target="_blank") Посмотрите видео-демонстрацию
						.t-gray.t-mid DAO IPCI release 0.1.0

	#scrn-6.screen
		.setw
			h2 API для внедрения покупки углеродных единиц на ваш сайт
			.d-t
				.text
					p Практически любая услуга или товар несут за собой углеродный след.
					p Внедрив API DAO IPCI на сайт для безопасного приобретения углеродных единиц, вы можете дать возможность своим пользователям погашать свой углеродный след в один клик.
					p
						| Чтобы воспользоваться нашим бесплатным API, вы можете 
						a(href="#") скачать код на GitHub
						|  или 
						a(href="#") связаться с нашим специалистом
						|.
				aside
					.sprite-daoCodeOne
					.sprite-daoCodeTwo
					