extends extends/layout.jade
include includes/mixins.jade

block header
	- var type = 'screen'
	- var canvas = 'true'
	- var text = 'Используйте Blockchain технологию для безопасной работы с экологическими активами и обязательствами, углеродными реестрам'

block content
	main(role="main")