extends extends/layout.jade
include includes/mixins.jade

//- block html
//- 	- var pagetype = 'inside'

block header
	- var type = 'screen'
	- var canvas = 'true'
	- var text = 'Используйте Blockchain технологию для безопасной работы с экологическими активами и обязательствами, углеродными реестрам'
	- var more = '#scrn-2'

block content
	#scrn-2.screen
		.in.setw
			h2 Углеродные рынки сейчас и в ближней перспективе
			aside
				p Потенциально самый большой глобальный товарный рынок (зрелый рынок до $10 трлн.)
				p 17 рыночных систем в 54 юрисдикциях, до 20% глобальной эмиссии будет покрыто рынками выбросов в 2017 г.
				p Более 40 различных углеродных единиц, представляющих, по сути, универсальный базовый актив – право на выброс 1 тонны СО2-экв
				p Десятки разрозненных  платформ: реестров, систем слежения, бирж, платформ аукционирования

		.climateInfo
			a(href="#").cell 1
			a(href="#").cell 2
			a(href="#").cell 3
			a(href="#").cell 4
			a(href="#").cell 5