extends extends/layout.jade
include includes/mixins.jade

block head
	- var pageTitle = 'От Парижа до Москвы: что делает бизнес в России, чтобы сдержать изменение климата?'

block header
	- var text = 'От Парижа до Москвы: что делает бизнес в России, чтобы сдержать изменение климата?'
	- var back = 'assets/i/tmp/301-135.jpg'


block content
	.breadcrumbs
		a(href="#") Главная
		| /
		a(href="#") Новости и статьи
		| /
		a(href="#") Политика
		| /
		span От Парижа до Москвы: что делает бизнес в России, чтобы сдержать изменение климата?

	main(role="main")

		.inside.setw
			p.t-small.t-gray 18 октября 2016

			#news-item_abstract.underlined
				p 25 октября в Ассоциации европейского бизнеса пройдет заседание, посвященное конкуренции компаний  по углеродному следу и механизмам внедрения стоимости выбросов парниковых газов. В интервью порталу «Климат России» глава рабочей группы по климатической политике АЕБ Антон Галенович рассказывает, как изменится мир после вступления в силу Парижского климатического соглашения, какова роль бизнеса в его реализации и что уже делает российское деловое сообщество для того, чтобы сдержать глобальное потепление.


			p
				b – Парижское соглашение вступит в силу в ноябре 2016-го. К каким последствиям это приведет на глобальном, региональном и локальном уровнях? В чем главные возможности и риски Парижа?

			p Вступление в силу Парижского соглашения — одно из свидетельств укрепления глобального экономического тренда на низкоуглеродное развитие. Его цель — достижение в обозримом будущем углеродонейтральности, то есть такого состояния, когда образующиеся в результате хозяйственной деятельности выбросы парниковых газов компенсируются целенаправленными сокращениями и увеличением поглощения углекислого газа лесами. Парижское соглашение очерчивает рамки и условия международного взаимодействия государств, субнациональных юрисдикций, общественных организаций и бизнеса в области снижения парниковой эмиссии и технологической модернизации. В этом главный смысл и возможности Парижа.


			p
				img(alt="", src="assets/i/tmp/kok_4.jpg").alignnone

			p Сегодня риски перехода к низкоуглеродному развитию для России превратились в нарастающую угрозу ущерба в случае сохранения традиционной экономической парадигмы, основанной на добыче, производстве и продаже сырья.
			p
				b – Какова роль бизнеса в реализации соглашения?

			p Решение о принятии Парижского соглашения содержит раздел, посвященный «участникам, не являющимся Сторонами соглашения», которые представляют гражданское общество, частный сектор, финансовые институты, города и другие субнациональные органы власти. Соглашение призывает таких участников «наращивать масштабы усилий и поддержки действий по сокращению выбросов парниковых газов». Кстати, в этом же разделе «установление цены на углерод», то есть внедрение тех или иных механизмов образования стоимости выбросов, признается важнейшим стимулом для бизнеса.

			hr/

			p В отличие от Киотского протокола в 
				a(href="#", target="_blank") Парижском соглашении
				|  бизнес становится равноправным участником реализации договора, хотя, конечно, и не «стороной соглашения». Форма участия определяется, в первую очередь, статьей 6.3. В ней говорится о том, что «использование передаваемых на международном уровне результатов предотвращения изменения климата для достижения определяемых на национальном уровне вкладов осуществляется на добровольной основе и с разрешения участвующих сторон». Единственное, что ограничивает роль бизнеса, это, к сожалению, «разрешение участвующей стороны». По опыту мы знаем, что участия и разрешения правительства можно ждать долго — и не дождаться.

			.widget-post
				a.news-i_tumbed__tumb(href="#", style="background-image: url('assets/i/tmp/tractor_301.jpg');")
				.widget-post_content
					.t-small.t-gray Подробнее по теме:
					a(href="#") Выгодно ли России Парижское соглашение?
					.news-grid-i_date.t-small.t-gray
							| 18 октября 2016  /  
							a(href="#") Политика

			blockquote На очередном открытом заседании, которое состоится 25 октября 2016-го,  будет рассмотрен вопрос о том, как в нынешней непростой ситуации продвигать интересы и предложения бизнеса, работающего в России, в контексте статьи шесть Парижского соглашения.

			h2 Заголовок 2
			h3 Заголовок 3
			h4 Заголовок 4
			h5 Заголовок 5

			table
				thead
					tr
						th Table Head 1
						th Table Head 2
						th Table Head 3
						th Table Head 4

				tbody
					tr
						td 1
						td На очередном открытом заседании, которое состоится 25 октября 2016-го,  будет рассмотрен вопрос о том, как в нынешней непростой ситуации продвигать интересы и предложения бизнеса, работающего в России, в контексте статьи шесть Парижского соглашения.
						td Парижское соглашение
						td 111.222.033
					tr
						td 1
						td На очередном открытом заседании, которое состоится 25 октября 2016-го,  будет рассмотрен вопрос о том, как в нынешней непростой ситуации продвигать интересы и предложения бизнеса, работающего в России, в контексте статьи шесть Парижского соглашения.
						td Парижское соглашение
						td 111.222.033
					tfoot
						tr
							td foot 1
							td foot 2
							td foot 3
							td foot 4

			p Хотелось бы пожелать инициативности без оглядки на исполнительную власть и расчета, основанного на том, что у парниковых выбросов есть положительная стоимость. Ведь они наносят вред, а значит, их признанное сокращение несет выгоду. И вне зависимости от того, верите вы в глобальное потепление или нет, такое снижение — это бизнес, объект прямых и интересных инвестиций. Приходите на заседание в АЕБ 25 октября!

			.widget-pannel
				a(href="#").widget.widget-doc
					span Программа круглого стола «Гармонизация подходов к 22-й конференции Сторон РКИК ООН. Конкуренция по углеродному следу, механизм внедрения статьи шесть Парижского соглашения и другие глобальные механизмы «цены на углерод»
					span.t-small Скачать файл (pdf, 129 Кб)
				a(href="#").widget.widget-doc
					span Программа круглого стола «Гармонизация подходов к 22-й конференции Сторон РКИК ООН. Конкуренция по углеродному следу, механизм внедрения статьи шесть Парижского соглашения и другие глобальные механизмы «цены на углерод»
					span.t-small Скачать файл (pdf, 129 Кб)

			script(src="http://yastatic.net/es5-shims/0.0.2/es5-shims.min.js")
			script(src="http://yastatic.net/share2/share.js")
			<div class="ya-share2" data-services="collections,vkontakte,facebook,odnoklassniki,moimir"></div>


			.tags
				a(href="#") Климатические программы
				a(href="#") Парижское соглашение