extends extends/layout.jade


block html
	- var pageTitle = 'Команда'

block header
	- var text = 'Команда'


block content
	.breadcrumbs
		a(href="#") Главная
		| &mdash;
		span Команда

	main(role="main")
		.inside.setw
			.team-row.row
				.col-md-4.col-sm-4.col-xs-3
					img(alt="Антон Галенович, к.и.н.", src="assets/i/team/Galenovich.jpg")
				.col-md-8.col-sm-8.col-xs-9
					h3 Антон Галенович, к.и.н.
					.t-small Москва, Россия. 1961 г.р.
					p В 1983 г. закончил Институт стран Азии и Африки при МГУ им. М.В. Ломоносова. 
					p В 1987 г. защитил диссертацию на соискание степени кандидата исторических наук по истории международных отношений и дипломатии Китая. Более 30 лет работает в области теории и практики международных отношений, из них около 20 лет  в сфере международной климатической политики по проблемам рыночных механизмов снижения воздействия на окружающую среду. 
					p Активный участник международного и российского диалога о частно-государственном партнерстве в климатической политике.
					p Автор исследований и работ по проблемам углеродных рынков. 
					p Ведущий разработчик DAO IPCI.


			.team-row.row
				.col-md-4.col-sm-4.col-xs-3
					img(alt="Сергей Ситников, к.ю.н.", src="assets/i/team/Sitnikov.jpg")
				.col-md-8.col-sm-8.col-xs-9
					h3 Сергей Ситников, к.ю.н.
					.t-small Сан-Франциско, США. 1980 г.р.
					p Выпускник Юридического факультета МГУ им. М.В. Ломоносова. В 2007 г. защитил диссертацию на соискание степени кандидата исторических наук.
					p Более 11 лет работал в международной юридической фирме Baker&McKenzie, а в 2014 г. стал соучредителем российской юридической компании «Кауза Привата», которая, в числе прочего, оказывает правовую поддержку ИТ-компаниям в России и США. 
					p Участник ИТ-проектов с 2005 года. 
					p С 2004 г. специализируется на правовых аспектах климатической политики, был глубоко вовлечен в разработку нормативно-правовых актов экологической направленности, в том числе, по механизмам Киотского протокола, разработал законопроект об энергоэффективности для Государственной Думы РФ. 
					p Разработчик DAO IPCI. Курирует деятельность Команды в США.


			.team-row.row
				.col-md-4.col-sm-4.col-xs-3
					img(alt="Алексей Шадрин", src="assets/i/team/Shadrin.jpg")
				.col-md-8.col-sm-8.col-xs-9
					h3 Алексей Шадрин
					.t-small Москва, Россия. 1990 г.р.
					p Онкончил Московский инистит энергетической политики и дипломатии МГИМО, по направлению Международные экономические отношения. 
					p Основатель и исполнительный директор Фонда «Русский углерод». Фонд является ведущей организацией - консультантом в в сфере устойчивого развития, объединяющий общество, бизнес, экспертов и власть для сохранения природного наследия и борьбы с изменением климата.
					p С 2011 года фонд помогает крупнейшим компаниям и гос. органам разрабатывать и внедрять устойчивые решения в области оценки социально-экологических рисков, коммуникаций, рационального управления ресурсами, зеленых финансов и чистых технологий.


			.team-row.row
				.col-md-4.col-sm-4.col-xs-3
					img(alt="Сергей Лоншаков", src="assets/i/team/Lonshakov.jpg")
				.col-md-8.col-sm-8.col-xs-9
					h3 Сергей Лоншаков
					.t-small Тольятти, Россия. 1989 г.р.
					p Разработчик проектов по технологии Блокчейн и умных контрактов, лидер Airalab.
					p Занимается разработкой и исследованиями: по проектам Биткоин/Альткоин/криптовалюты – с 2011 г.,  по проектам умных контрактов/платформы Ethereum с 2014 г.,  по проектам ДАО (децентрализованных автономных организаций) с 2015 г. 
					p С сентября 2015 г. занимается разработкой и изучением возможностей  платформы Ethereum для создания ДАО и решений IoT.
					p Ведущий ИТ-разработчик DAO IPCI.