//FOOTER
footer(role='contentinfo')
	.b-promo
		.setw
			h2 DAO IPCI – бесплатное программное обеспечение с открытым кодом

			.cells
				.cell
					.t-center
						.i-consult
					a.btn-lined(href="#") Консультация специалиста

				.cell
					.t-center
						.i-app
					a.btn-lined(href="#") Скачать DAO IPCI

				.cell
					.t-center
						.i-git
					a.btn-lined(href="#") Репозиторий на GitHub

	.footer-light
		.setw
			.cells
				.cell @2016, DAO IPCI
				.cell
					| В партнерстве с 
					a(href="http://www.carbonregistry.ru", target="_blank") Углеродным реестром
					|  на основе 
					a(href="http://www.carbonregistry.ru/program", target="_blank") Программы интеграции климатических инициатив