include mixins.jade

header(role="banner", class=type)

	#header-top
		a.l-noline.q-min_tablet(href="index.html") ДАО «Программа интеграции климатических инициатив»
		a.l-noline.q-mobile(href="index.html") ДАО «ПИКИ»
		.b-inline
			.dropdown.dropdown-select_light(tabindex="1")
				a(href="javascript:;").dropdown__toggle 
					| Русский
					span.i-arrow
				.dropdown__content.nav-links
					a.active(href="#") Русский
					a(href="#") English

			.dropdown.dropdown-menu(tabindex="1")
				a(href="javascript:;", tabindex="1").dropdown__toggle.hamburger
					span.line
					span.line
					span.line
				.dropdown__content
					.nav-links.section
						a(href="about.html") О программе
						a(href="news.html") Новости и статьи
						a(href="docs.html") Документы
						a(href="press.html") Пресса о нас
						a(href="contacts.html") Контакты

					.nav-links.section
						a(href="contacts.html#contact-form") Консультация специалиста
						a(href="#").l-away Попробовать DAO IPCI
						a(href="#").l-away Репозиторий на GitHub

	.setw
		h1 #{text}
		if (type == 'screen')
			.t-center.q-min_tablet
				a.header-more(href="#{more}") Подробнее

	if (canvas == 'true')
		#header-canvas
			canvas#canvasDots

	if (back)
		.header_back.header_back-custom(style="background-image:url(#{back});")
	else
		.header_back



+OldBrowserMsg()
