include mixins.jade

header(role="banner", class=type)
	#header-top
		a.l-noline.q-min_tablet(href="#") ДАО «Программа интеграции климатических инициатив»
		a.l-noline.q-mobile(href="#") ДАО «ПИКИ»
		.b-inline
			.dropdown.dropdown-select_light(tabindex="1")
				a(href="javascript:;").dropdown__toggle Русский
				.dropdown__content.nav-links
					a.active(href="#") Русский
					a(href="#") English

			.dropdown.dropdown-menu(tabindex="1")
				a(href="javascript:;", tabindex="1").dropdown__toggle.hamburger
					span.line
					span.line
					span.line
				.dropdown__content
					.nav-links.section
						a(href="#") О программе
						a(href="#") Новости и статьи
						a(href="#") Документы
						a(href="#") Пресса о нас
						a(href="#") Контакты

					.nav-links.section
						a(href="#") Консультация специалиста
						a(href="#") Попробовать DAO IPCI
						a(href="#") Репозиторий на GitHub

	.setw
		h1 #{text}
		if (type == 'screen')
			.t-center.m-t-x2.q-min_tablet
				a.header-more(href="#{more}") Подробнее

	if (canvas == 'true')
		#header-canvas
			canvas#canvasDots



+OldBrowserMsg()
