$icons: (
    sprite: (width: 520px, height: 2051px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    daoCodeOne: (width: 417.6px, height: 231px, backgroundX: 0px, backgroundY: 0px),
    daoCodeTwo: (width: 462.2px, height: 255.6px, backgroundX: 0px, backgroundY: -231px),
    daoCodeTwoEn: (width: 462.2px, height: 255.6px, backgroundX: 0px, backgroundY: -487px),
    daoOperator: (width: 520px, height: 377px, backgroundX: 0px, backgroundY: -743px),
    daoOperatorEn: (width: 520px, height: 377px, backgroundX: 0px, backgroundY: -1120px),
    doc: (width: 58.495px, height: 79.493px, backgroundX: 0px, backgroundY: -1497px),
    systemOne: (width: 179.5px, height: 141.531px, backgroundX: 0px, backgroundY: -1577px),
    systemThree: (width: 179.5px, height: 141.531px, backgroundX: 0px, backgroundY: -1719px),
    systemTwo: (width: 192px, height: 190px, backgroundX: 0px, backgroundY: -1861px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-daoCodeOne{
	@include get-sprite(daoCodeOne);
}
.sprite-daoCodeTwo{
	@include get-sprite(daoCodeTwo);
}
.sprite-daoCodeTwoEn{
	@include get-sprite(daoCodeTwoEn);
}
.sprite-daoOperator{
	@include get-sprite(daoOperator);
}
.sprite-daoOperatorEn{
	@include get-sprite(daoOperatorEn);
}
.sprite-doc{
	@include get-sprite(doc);
}
.sprite-systemOne{
	@include get-sprite(systemOne);
}
.sprite-systemThree{
	@include get-sprite(systemThree);
}
.sprite-systemTwo{
	@include get-sprite(systemTwo);
}
