$icons: (
    sprite: (width: 192px, height: 474px, pngPath: '../i/sprite.png', svgPath: '../i/sprite.svg'),
    systemOne: (width: 179.5px, height: 141.531px, backgroundX: 0px, backgroundY: 0px),
    systemThree: (width: 179.5px, height: 141.531px, backgroundX: 0px, backgroundY: -142px),
    systemTwo: (width: 192px, height: 190px, backgroundX: 0px, backgroundY: -284px),
);

$sprite: map-get($icons, sprite);


@mixin get-sprite($spritename){
    $spritename: map-get($icons, $spritename);
    
    display: inline-block;
    width: map-get($spritename, width);
    height: map-get($spritename, height);
    background-image: url(map-get($sprite, svgPath));
    background-position: map-get($spritename, backgroundX) map-get($spritename, backgroundY);
    background-repeat: no-repeat;

    #{$modernizr-nosvg} & { background-image: url(map-get($sprite, pngPath)); }
}

.sprite-systemOne{
	@include get-sprite(systemOne);
}
.sprite-systemThree{
	@include get-sprite(systemThree);
}
.sprite-systemTwo{
	@include get-sprite(systemTwo);
}
