@include font-face("Scada", font-files("Scada-Regular.woff","Scada-Regular.ttf"), "Scada-Regular.eot", normal);
@include font-face("Scada", font-files("Scada-Bold.woff","Scada-Bold.ttf"), "Scada-Bold.eot", bold);
@include font-face("Scada", font-files("Scada-Italic.woff","Scada-Italic.ttf"), "Scada-Italic.eot", normal, italic);
@include font-face("Roboto Slab", font-files("RobotoSlab-Bold.woff","RobotoSlab-Bold.ttf"), "RobotoSlab-Bold.eot", bold);


@mixin font-size($font-size, $line-height: 1.5){
  @include rem('font-size', $font-size);
  // font-size: #{$font-size}px;
  line-height: $line-height;
}


%font_base {
  @include font-size($font-base-size);
  font-family: $font-family-base;

	word-spacing: normal;
	letter-spacing: 0;
}



/*==========*/

html {
  -webkit-text-size-adjust:none;
  font-size: 100%;

  @include mobile(){
    font-size: 75%;
  }

  @include tablet(){
    font-size: 85%;
  }

  @include desktop_b(){
    font-size: 120%;
  }
}

body { 
	@extend %font_base;
	color: $color-text; 
}


a { 
  @include hover-link;
  color: $color-lk;
  transition: color .1s linear;

  &:hover{
    color: $color-lk_hover;
  }
}


#{headings()} {
  @include rem('margin-bottom', $vertical-rythm * 1.5);
  @include rem('margin-top', $vertical-rythm * 3);

  font-family: $font-family-second;
  font-weight: bold;
  line-height: $scale-small;
  // text-align: center;

  color: $color-gray-0;

  &:first-child{
    margin-top: 0;
  }

  a{
    @extend %link_noline;
  }
}


h1 {
  @include font-size(38, 1.2);

  @include mobile(){
    @include font-size(28, 1.2);
  }
}
h2 { @include font-size(32, 1.2); }
h3 { @include font-size(26, 1.2); }
h4 { @include font-size(24, 1.2); }
h5 { @include font-size(20, 1.2); }



ul, ol {
  // margin-left: 15px;
  list-style-position: inside;
}

hr{
  border: 0;
  background-color: $color-brick;
  height: 2px;
  @include rem('margin', $vertical-rythm, 0);
}

blockquote, p, li, ul, ol {
  @include rem('margin-bottom', $vertical-rythm);

  &:last-child{
    margin-bottom: 0;
  }
}

li{
  @include rem('margin-bottom', $vertical-rythm/2);
}


blockquote{
  font-weight: bold;
  border-left: 2px solid $color-brick;
  @include rem('padding-left', 20);
}


.t-left{ text-align: left; }
.t-right{ text-align: right; }
.t-center{ text-align: center; }
.t-through { text-decoration: line-through; }
.t-uppercase{ text-transform: uppercase; }

.nowrap { white-space: nowrap; }


.t-bold { font-weight: bold; }

.t-red, a.t-red { color: $color-red; color: $color-red !important; }
.t-gray, a.t-gray  { color: $color-gray-6; color: $color-gray-6 !important; }

.t-mid { @include font-size(18, 1.2); }
.t-small { @include font-size(14, 1.2); }


.t-overflow{
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


.l-noline{
  @extend %link_noline;
}

.l-away{
  @include icon(away, after);

  &:after{
    @include rem('margin-left', 5);
    vertical-align: middle;
    @include font-size(14, 1.2);
  }
}

.underlined{
  &:after{
      content:"";
      @include rem('height', 2);
      @include rem('width', 70);
      background-color: $color-brick;
      display: block;
      @include rem('margin-top', $font-base-size);
    }
}


.wp-caption{
  @include rem('margin', $vertical-rythm*2);
  text-align: center;
  color: $color-gray-3;
  @include font-size(18, 1.2);

  img{
    display: inline-block;
    max-width: 100%;
    @include rem('margin-bottom', $vertical-rythm);
  }

  @include min_desktop_s(){
    &.alignleft{
      float: left;
      @include rem('margin', $vertical-rythm, $vertical-rythm, $vertical-rythm, 0);
    }

     &.alignright{
      float: right;
      @include rem('margin', $vertical-rythm, 0, $vertical-rythm, $vertical-rythm);
    }
  }
}


.inside{
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    @include rem('margin-bottom', $vertical-rythm);
    

    @include min_desktop_s(){
      &.alignleft{
        float: left;
        @include rem('margin', $vertical-rythm, $vertical-rythm, $vertical-rythm, 0);
      }

      &.alignright{
        float: right;
        @include rem('margin', $vertical-rythm, 0, $vertical-rythm, $vertical-rythm);
      }
    }
  }
}