$point-mobile-s: 375px;
$point-mobile: 680px;
$point-tablet: 780px;
$point-desktop-s: 1024px;
$point-desktop-m: 1280px;
$point-desktop-b: 1620px;

$width-base-max: $point-desktop-m;
// $width-base-max: 1440px;
// $width-base-min: $point-desktop-s;

$padding-side: 40;



//colors
$color-gray-0: #333;
$color-gray-1: #414141;
$color-gray-2: #95989A;
$color-gray-3: #626262;
$color-gray-5: #FAFAFA;
$color-gray-6: #A6A8AA;

$color-gray: #B2B5B7;

$color-blue: #0B58B1;
$color-blue-2: #001C3C;
$color-blue-3: #0C284A;
$color-blue-4: #93A5D6;
$color-blue-purple: #D0DDFF;

$color-orange: #FFA62C;
$color-orange-2: #F85600;
$color-orange-3: #F49008;
$color-red: #E61334;
$color-green: #1FC384;

$color-brick: #B7674A;
$color-brick-2: #804732;
$color-brick-3: #693928;
$color-brick-4: #A05940;

$color-text: $color-gray-1;
$color-lk: $color-blue;
$color-lk_hover: $color-brick;


$color-table-head-text: $color-text;
$color-table-head-back: lighten($color-blue-4, 18%);
$color-table-head-border: $color-blue-4;

$color-table-foot-text: $color-text;
$color-table-foot-back: lighten($color-blue-4, 22%);
$color-table-foot-border: $color-blue-4;

$color-table-text: $color-text;
$color-table-border: $color-blue-4;
$color-table-back-tr: lighten($color-blue-4, 28%);
$color-table-back-oddtr: $color-table-back-tr;




//fonts, types, text
$font-family-base:  'PT Sans', Arial, Tahoma, Verdana, sans-serif;
$font-family-second: 'Roboto Slab', serif;
//'Pt Serif', 


$scale: 1.5; //для вычисления интерлиньяжа
$scale-small: 1.2; //например, для вычисления интерлиньяжа заголовков
$font-base-size: 18;
$vertical-rythm: $font-base-size * $scale;




//classes for modernizr fallbacks
$modernizr-nosvg: '.no-svg';
$modernizr-notouchevents: '.no-touchevents';

$modernizr-noflexbox: '.no-flexbox';
$modernizr-flexbox: '.flexbox';
$modernizr-noflexboxtweener: '.no-flexboxtweener';

$modernizr-nocssanimations: '.no-cssanimations';
$modernizr-cssanimations: '.cssanimations';



@mixin rem($property, $px1, $px2:'', $px3:'', $px4:'', $important: 'false'){
  $px_line: $px1;
  $rem_line: '';

  @if ($px1 != 'auto'){
    $px_line: $px_line + px; 
    $rem_line: $px1/16 + rem; 
  }
  @else{
    $rem_line: $rem_line + 'auto';
  }

  @if ($px2 != '')
  { 
    $px_line: $px_line + ' ' + $px2;
    $rem_line: $rem_line + ' ';

    @if ($px2 != 'auto'){
      $px_line: $px_line + px; 
      $rem_line: $rem_line + $px2/16 + rem; 
    }
    @else{
      $rem_line: $rem_line + 'auto';
    }
  }
  

  @if ($px3 != '')
  { 
    $px_line: $px_line + ' ' + $px3 + px; 
    $rem_line: $rem_line + ' ' + $px3/16 + rem; 
  }
  

  @if ($px4 != '') 
  { 
    $px_line: $px_line + ' ' + $px4 + px; 
    $rem_line: $rem_line + ' ' + $px4/16 + rem; 
  }

  @if($important == 'true')
  {
    $px_line: $px_line + ' !important';
    $rem_line: $rem_line + ' !important';
  }
  

    #{$property}: $px_line; 
    #{$property}: $rem_line;
}